/* Structure */
body {
  width: 100vw;
}

#img1 {
  margin-top: 2vw;
  width: 100vw;
  height: 33.33vw;
}

#contact_content{
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vw;
  width: 92vw;
  background-color: #C4D9ED;
  padding-bottom: 2vw;
}

.mat-form-field {
  margin: 2vw;
  font-size: 1vw;
  width: 88vw;
}

table {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 88vw;

}



#div_container {
  width: 100vw;
  display: flex;
  margin-top: 120px;
  padding-bottom: 35px;

}


#img2 {
  height: 125px;
  width: 8.6vw;
  margin-left: 3.5vw;

}

#div_container2 {
  width: 30vw;
  margin-left: 24vw;
}

#div_container2_1{
  margin-left: 2.78vw;
  margin-top: 70px;
  font-size: 20px;
  color: #374F86;
}
